.Error{
 border: 2px solid red;
 outline: none;
 box-shadow: 1px 0px 10px red


 
}

.Error_Title{
    
    font-size: 15px;
    display: none;
}
.Error_TitleA{
    display: block;
}

.usando:focus{
    border: 2px solid #007aff;
    outline: none;
    box-shadow: 2px 0px 20px rgba(163,163,163)
}

.form{
    display: inline-block;
   
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    max-width: auto;
    width: 600px;
    margin: 100px 300px ;
    padding: 10px;

    background-color: white;
    box-shadow: 0 10px 30px #000;  
    border: 1px solid #ffffff40

}

#form{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
}

.name{
    padding: 10px;
}
.step{
margin: 5px;
border-radius: 5px;
background-color: white;
   border: 1px solid black;
}

.step:hover{
cursor: pointer;
}