

.img {   
width: 400px;
height: 300px;
border-radius: 20px;
}

.detalle{
    display: flex;
    border: 1px solid black;
    border-radius: 30px;
    margin: 50px;
    background-color: white;
    box-shadow: 0 10px 30px #000;  
    border: 1px solid #ffffff40

    
}

.left{ 
    align-items: center;
    text-align: center;
    padding: 20px;
}

.right{
    padding: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}
.btn2{
    font-size: 20px;
   padding-left: 100px;
   padding-right: 100px;
   border-radius: 10px;
  
}

.btn2:hover{
    cursor: pointer;
}
.steps{
    max-height: 200px;
    overflow : auto;
    border: 1px solid black;
    border-radius: 10px;
}

