

   body{
   
    background-image: url(./35737-comida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   

     

   }

   .container{
      
      text-align: center;
      padding-top: 200px;
   }
   .wl{
      width: 300px;
      font-size: 20px;
      border-radius: 10px;
      border: 1px solid black;
      box-shadow: 0 10px 30px #000;  
      border: 1px solid #ffffff40;
     
       transition: background-color, width 1s;
     
   }
   .wl:hover{
      cursor: pointer;
      border: 1px solid white;
      width: 400px;
     
   }
   .h1{
      font-size: 60px;
      color: white;
   }

